[submodule "amm"]
	path = amm
	url = https://github.com/deepakA18/amm
[submodule "Joule-Capstone-Project"]
	path = Joule-Capstone-Project
	url = https://github.com/deepakA18/Joule-Capstone-Project
[submodule "Vault-Anchor"]
	path = Vault-Anchor
	url = https://github.com/deepakA18/Vault-Anchor.git
[submodule "Escrow"]
	path = Escrow
	url = https://github.com/deepakA18/Escrow.git
[submodule "Solana-Starter"]
	path = Solana-Starter
	url = https://github.com/deepakA18/Solana-Starter.git
[submodule "Marketplace"]
	path = Marketplace
	url = https://github.com/deepakA18/Marketplace.git
